/*
 * @class   样式-登陆
 * @author  Jeff Tsui
 * @date    16.05.20
 * @mail    jeff.ccjie@gmail.com
 */

//@require normalize.css
//@require common.scss

.loginBox{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #eeeeee;
}

.loginForm{
  width: 320px;
  margin: 160px auto;
  .loFormTitle{
    padding: 0 5px;
    font-size: 2rem;
    line-height: 42px;
    color: #333333;
  }
  .loFormList{
    margin-top: -1px;
    .lUser, .lPwd{
      padding: 8px 3%;
      width: 94%;
    }
    .lUser{

      border-radius: 4px 4px 0 0;
    }
    .lPwd{
      border-radius: 0 0 4px 4px;
    }
  }
  .loFormBtn{
    padding-top: 20px;
    .jBtn{
      width: 100%;
      height: 40px;
      border-radius: 4px;
    }
  }
}