//- 首页
//- author : 崔承杰
//- date : 2016.05.17
//- email: ccjie@gzidc.com
//-------------------------------------------
extends ../../base/base
block append base_head
  //- 引入index.css,由于fis兼容express,引入生成后路径
  link(rel="stylesheet", type="text/css", href="/css/info.css")

block append left

  include ../../base/left_nav

block append main
  //- 内容
  .main
    .mainTitle 密码修改
    .mainContent.contentBox
      .form
        .formList
          .formTitle 原 密 码
          .formContent
            input.formTxt(type='password', placeholder='请输入原密码')
        .formList
          .formTitle 新 密 码
          .formContent
            input.formTxt(type='password', placeholder='请输入新密码')
        .formList
          .formTitle 确认密码
          .formContent
            input.formTxt(type='password', placeholder='请输入新密码')

        .formBtnBox
          .formBtn 提交

block append base_foot
  //- 全局脚本，生成base.js
  script(type="text/javascript", src='/js/index.js')
  script.
    console.log(1)
